<div class="row">
	<div class="col-xs-12 center">
		<h4>We tallied your response. Here are the results at the time you submitted your answer.</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render @poll %>
	</div>
</div>

<div class="footer">
	<div class="row">
		<div class="col-sm-12">
			<p>You can make a poll in about 5 seconds too! Click <a href="<%= root_url %>">here</a>.</p>
		</div>
	</div>
</div>